body {
    background-image: url("capitol.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: none;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#name {
    width: 150px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
}